<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>COMP 4656 Assignment2</display-name>
	<welcome-file-list>
		<welcome-file>MainServlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>ca.bcit.comp4656.controller.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/WEB-INF/jsps/login.jsp</form-login-page>
			<form-error-page>/WEB-INF/jsps/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>query database</web-resource-name>
			<url-pattern>/index.jsp</url-pattern>
			<url-pattern>/MainServlet</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>ca.bcit.comp4656.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<exception-type>javax.xml.ws.WebServiceException</exception-type>
		<location>/WEB-INF/jsps/errors.jsp</location>
	</error-page>
</web-app>
